$main-color: #FFDAC6;
$special-color: #c59880;
$dark-special-color: #8a6451;
$darker-special-color: #583b2c;
$white-color: #eeeeee;
$black-color: #000000;
$light-dark: #dddddd;
$dark: #2e2e2e;
$error-color: #ff0000;
$shadow: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
$blue-gradient: linear-gradient(45deg, rgba(20, 105, 241, 1), rgba(42, 10, 184, 1));

