$main-color: #3b97b3;
$special-color: #257791;
$darker-special-color: #1E5F74;
$white-color: #eeeeee;
$black-color: #000000;
$light-dark-color: #dddddd;
$dark-color: #2B2B2B;
$error-color: #ff0000;
$shadow: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
$blue-gradient: linear-gradient(45deg, rgba(20, 105, 241, 1), rgba(42, 10, 184, 1));

