$main-color: #c0b448;
$special-color: #a0971d;
$darker-special-color: #857a17;
$white-color: #eeeeee;
$black-color: #000000;
$light-dark-color: #dddddd;
$dark-color: #2B2B2B;
$error-color: #ff0000;
$shadow: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));

