@use 'colors';

@media (max-width: 280px) {
	.cards{
		&__card {
			width: 85%;
		}
	}
}

@media (min-height: 576px) {
    .header {
        &__chevron {
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            color: colors.$white-color;
            font-size: 30px;

            a {
				color: colors.$white-color;
				text-decoration: none;
			}

            .fa-sharp {
                padding: 1em;
            }
        }
    }
}

@media (min-width: 576px) {
    .header {
        &__heading {
            font-size: 5rem;
        }
    
        &__text {
            font-size: 1.8rem;
        }
    
        &__btn {
            font-size: 1.6rem;
        }
    }
}