$main-color: #257791;
$special-color: #307186;
$darker-special-color: #1e5f74;
$white-color: #eeeeee;
$black-color: #000000;
$light-dark-color: #dddddd;
$dark-color: #2B2B2B;
$error-color: #ff0000;
$shadow: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));

