$main-color: #257791;
$special-color: #307186;
$darker-special-color: #1e5f74;
$white-color: #eeeeee;
$black-color: #000000;
$light-dark-color: #dddddd;
$dark-color: #2b2b2b;
$error-color: #ff7b00;
$shadow: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
$background-gradient: linear-gradient(45deg, rgb(0, 0, 0), rgb(37, 119, 145));
