@use 'colors';
@use 'mixin';

@media (min-width: 992px) {
	.offer {
		&__item:first-of-type {
			transform: none;
			margin-left: -30px;
		}

		&__item {
			margin-top: 30px;
			background-color: colors.$dark-color;
			border: none;
			transform: scale(1.1);
		}

		&__item:last-of-type {
			transform: none;
			margin-right: -30px;
		}
	}
}

@media (min-width: 1024px) {
	.section-title {
		font-size: 3.5rem;
	}

	.header-img {
		background-image: colors.$shadow, url('../img/header-img-big.jpg');
	}

	.popup {
		&__message {
			&-container {
				width: 600px;
			}
		}
	}

	.nav {
		.burger-btn {
			display: none;
		}

		&__icon {
			top: 6px;
		}

		&__list {
			flex-direction: row;
			justify-content: end;
			position: absolute;
			height: 80px;
			padding: 0.5em;
			background: none;
			transform: translateX(0);
			opacity: 1;
			overflow: hidden;
		}

		&__item {
			margin-top: 0;
			font-size: 2rem;
		}

		&__item:first-of-type {
			margin-top: 0;
		}

		&__item:last-of-type {
			margin-bottom: 0;
		}

		&__link {
			padding: 1em 1.2em;
		}
	}

	.header {
		&__heading {
			font-size: 10rem;
		}

		&__text {
			font-size: 2.4rem;
		}

		&__btn {
			font-size: 2.2rem;
		}

		&__chevron {
			font-size: 50px;
		}
	}
}

@media (min-width: 1220px) {
	.nav {
		&__item {
			font-size: 2.2rem;
		}
	}

	.cards {
		&__box {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: 3em;
			border-radius: 8px;
		}

		&__card {
			height: 314px;
			border: none;

			&--one,
			&--two,
			&--three,
			&--four,
			&--five,
			&--six {
				&:hover {
					border: none;
				}
			}

			&--one::before,
			&--two::before,
			&--three::before,
			&--four::before,
			&--five::before,
			&--six::before {
				background-image: url('../img/background-icons.jpg');
			}

			&--one::before,
			&--three::before,
			&--five::before {
				left: 20px;
			}

			&--one:hover::before,
			&--three:hover::before,
			&--five:hover::before {
				left: 0px;
				animation: none;
			}

			&--two::before,
			&--four::before,
			&--six::before {
				right: 20px;
			}

			&--two:hover::before,
			&--four:hover::before,
			&--six:hover::before {
				right: 0px;
				animation: none;
			}

			&--one {
				grid-row: 1/2;
				grid-column: 1/4;

				&::before {
					content: '';
					@include mixin.specialCard;
					animation: move-it-left 2.2s infinite;
				}

				&:hover::before {
					transform: translateX(100%);
				}
			}

			&--two {
				grid-row: 2/3;
				grid-column: 4/7;

				&::before {
					content: '';
					@include mixin.specialCard;
					animation: move-it-right 2s infinite;
				}

				&:hover::before {
					transform: translateX(-100%);
				}
			}

			&--three {
				grid-row: 3/4;
				grid-column: 1/4;

				&::before {
					content: '';
					@include mixin.specialCard;
					animation: move-it-left 2s infinite;
				}

				&:hover::before {
					transform: translateX(100%);
				}
			}

			&--four {
				grid-row: 4/5;
				grid-column: 4/7;

				&::before {
					content: '';
					@include mixin.specialCard;
					animation: move-it-right 1.6s infinite;
				}

				&:hover::before {
					transform: translateX(-100%);
				}
			}

			&--five {
				grid-row: 5/6;
				grid-column: 1/4;

				&::before {
					content: '';
					@include mixin.specialCard;
					animation: move-it-left 1.6s infinite;
				}

				&:hover::before {
					transform: translateX(100%);
				}
			}

			&--six {
				grid-row: 6/7;
				grid-column: 4/7;

				&::before {
					content: '';
					@include mixin.specialCard;
					animation: move-it-right 2.2s infinite;
				}

				&:hover::before {
					transform: translateX(-100%);
				}
			}
		}
	}
}
