@use 'colors';

@media (max-width: 280px) {
	.cards {
		&__card {
			width: 85%;
		}
	}
}

@media (max-width: 300px) {
	.popup {
		&__message {
			&-container {
				width: 90%;
				height: 200px;
			}
		}

		&__box {
			&-error {
				display: none;
			}
		}
	}

	.cards {
		&__card {
			height: 415px;
			padding: 2em;
		}
	}

	.carousel {
		&__card {
			height: 423px;
		}
	}
}

@media (min-width: 368px) {
	.popup {
		&__title {
			margin-top: 1em;
			padding: 2em;
		}
	}

	.carousel {
		&__card {
			height: auto;
		}
	}
}

@media (max-width: 400px) {
	.popup {
		&__header {
			&-progressbar {
				padding: 0.5em;
			}

			&-text {
				&::before {
					display: none;
				}
			}
		}

		&__box {
			&-error {
				bottom: 10px;
			}
		}
	}
}

@media (min-width: 410px) {
	.carousel {
		&__card {
			height: 290px;
		}
	}
}

@media (min-width: 440px) {
	.carousel {
		&__card {
			height: 270px;
		}
	}
}

@media (min-height: 576px) {
	.header {
		&__chevron {
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			color: colors.$white-color;
			font-size: 30px;

			a {
				color: colors.$white-color;
				text-decoration: none;
			}

			.fa-sharp {
				padding: 1em;
			}
		}
	}
}

@media (min-width: 576px) {
	.popup {
		&__message {
			&-container {
				width: 450px;
			}

			&-text {
				font-size: 2rem;
			}
		}
	}

	.header {
		&__heading {
			font-size: 5rem;
		}

		&__text {
			font-size: 1.8rem;
		}

		&__btn {
			font-size: 1.6rem;
		}
	}

	.carousel {
		&__card {
			height: auto;
		}
	}
}
