@use 'colors';
@use 'mixin';
@use 'animations';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: var(--scroll-padding, 80px);
}

body {
	background-image: url('../img/body-bg.jpg');
	background-attachment: fixed;
	color: colors.$white-color;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.section {
	padding: 6em 0;
	background-color: rgba(0, 0, 0, 0.75);
}

.scroll-block {
	overflow: hidden;
}

.scroll-block-padding {
	padding-right: var(--padding-space);
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
		z-index: -1;
	}

	&:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
}

.underline {
	margin: 0 auto 3em;
	width: 60px;
	height: 2px;
	background-color: colors.$main-color;
}

.section-title {
	position: relative;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

.nav-shadow {
	background-color: rgba(0, 0, 0, 0.97);
}

.bounce-top {
	display: block;
	animation: bounce-top 2s infinite both;
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: colors.$background-gradient;
	transform: translateX(100%);
	opacity: 0;
	transition: transform 0.7s, opacity 0.2s;
	overscroll-behavior-y: contain;
	overflow-y: auto;
	z-index: 998;

	&--active {
		transform: translateX(0);
		opacity: 1;
	}

	&__title {
		margin-top: 1em;
		padding: 1em 0.2em;
		color: colors.$white-color;
		font-size: 2em;
		text-align: center;
		text-transform: uppercase;
	}

	&__wrapper {
		width: 90%;
		max-width: 900px;
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 1em;
	}

	&__box {
		&-label {
			color: colors.$white-color;
			text-transform: uppercase;
		}

		&-input,
		&-select,
		&-btn {
			font-family: 'Montserrat', sans-serif;
			font-size: 1.6rem;
		}

		&-input,
		&-select {
			margin: 0.5em 0;
			padding: 0.7em 1.2em;
			width: 100%;
			background-color: #fff;
			border: none;
			border-radius: 8px;
		}

		&-error {
			margin-bottom: 2em;
			color: colors.$error-color;
			font-size: 0.9em;
			visibility: hidden;
		}

		&-btn {
			margin: 2em;
			padding: 1em;
			width: 70%;
			color: colors.$white-color;
			background-color: colors.$special-color;
			border: none;
			border-radius: 8px;
			text-transform: uppercase;
			cursor: pointer;

			&::before {
				background-color: colors.$darker-special-color;
			}
		}

		&-icon {
			position: absolute;
			top: 8px;
			right: 1rem;
			padding: 0.5em;
			font-size: 2em;
			color: colors.$white-color;
			cursor: pointer;
		}
	}

	&__message {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(46, 46, 46, 0.2);
		overflow: hidden;
		z-index: 999;

		&-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 300px;
			height: 150px;
			background-color: colors.$white-color;
			border-radius: 8px;
			border: 2px solid colors.$black-color;
			animation: show-it 0.3s 1;
			z-index: 1000;
		}

		&-text {
			margin: 1em;
			color: colors.$black-color;
			font-size: 1.6rem;
			text-align: center;
		}

		&-btn {
			margin: 1em;
			padding: 0.8em;
			width: 40%;
			color: colors.$white-color;
			background-color: colors.$special-color;
			border: none;
			border-radius: 8px;
			font-size: 1.5rem;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			cursor: pointer;

			&::before {
				background-color: colors.$darker-special-color;
			}
		}
	}
}

.warning {
	.popup__box-error {
		visibility: visible;
	}

	.popup__box-input,
	.popup__box-select {
		border: 2px solid colors.$error-color;
	}
}

.button-box {
	position: fixed;
	display: flex;
	justify-content: center;
	flex-direction: column;
	left: 0;
	bottom: 40px;
	z-index: 989;

	&__item {
		display: block;
		position: relative;
		height: 60px;
		width: 60px;
		color: #fff;
		background: black;
		text-align: center;
		text-decoration: none;
		border: none;
		transform: rotate(90deg);
		transition: transform 0.7s;
		z-index: 10;

		&--active {
			transform: translateX(-100%) rotate(90deg);
		}

		&--one {
			background: colors.$main-color;

			&::after {
				content: '';
				position: absolute;
				left: -15px;
				bottom: 0px;
				width: 30px;
				height: 60px;
				background: colors.$main-color;
				transform: skew(-20deg);
				z-index: -1;
			}

			&::before {
				content: '';
				position: absolute;
				right: -15px;
				bottom: 0px;
				width: 30px;
				height: 60px;
				background: colors.$main-color;
				transform: skew(20deg);
				z-index: -1;
			}
		}

		i {
			font-size: 16px;
			transform: rotate(270deg);
		}
	}
}

.nav {
	position: fixed;
	width: 100%;
	height: 80px;
	transition: background-color 0.5s;
	z-index: 990;

	&__wrapper {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 1600px;
	}

	&__icon {
		position: absolute;
		top: 8px;
		left: 1rem;
		padding: 0.5em;
		z-index: 1000;
	}

	.burger-btn {
		position: absolute;
		top: 10px;
		right: 2rem;
		padding: 1em;
		background: none;
		border: 1px solid transparent;
		cursor: pointer;
		z-index: 1000;

		&:focus {
			border-radius: 8px;
		}

		&:hover {
			.burger-btn__bars::after,
			.burger-btn__bars::before {
				width: 100%;
			}
		}

		&__box {
			position: relative;
			width: 4rem;
			height: 3rem;
		}

		&__bars,
		&__bars::after,
		&__bars::before {
			content: '';
			position: absolute;
			right: 0;
			height: 4px;
			background-color: colors.$white-color;
			border-radius: 8px;
			transition: width 0.3s;
		}

		&__bars {
			width: 100%;

			&::after {
				top: 13px;
				width: 70%;
			}

			&::before {
				top: 26px;
				width: 40%;
				transition-delay: 0.1s;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		padding: 0;
		top: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);
		background-color: colors.$black-color;
		transition: transform 0.7s, opacity 0.7s;
		overscroll-behavior-y: contain;
		overflow-y: auto;
		opacity: 0;

		&--active {
			transform: translateX(0);
			opacity: 1;
		}
	}

	&__item {
		display: inline-block;
		margin-top: 1.5em;
		font-size: 2rem;
		list-style: none;
		text-transform: uppercase;
	}

	&__item:first-of-type {
		margin-top: 100px;
	}

	&__item:last-of-type {
		margin-bottom: 100px;
	}

	&__link {
		padding: 1em 2em;
		color: colors.$white-color;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: colors.$main-color;
		}

		&--active {
			color: colors.$main-color;
		}
	}
}

.header-img {
	background-image: colors.$shadow, url('../img/header-img-small.jpg');
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	text-align: center;

	&__btn {
		color: colors.$white-color;
		z-index: 1;
	}

	&__heading {
		font-family: 'Dancing Script', cursive;
		font-size: 5rem;
		font-weight: 400;
	}

	&__text {
		font-size: 1.8rem;
	}

	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		background-color: colors.$main-color;
		border: none;
		border-radius: 25%;
		font-size: 1.6rem;
		text-decoration: none;
		text-transform: uppercase;

		&::before {
			background-color: colors.$darker-special-color;
		}
	}

	&__chevron {
		display: none;
	}
}

.cards {
	&__box {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-template-rows: 3fr;
		gap: 2em;
		padding: 4em 2em;
		overflow: hidden;
	}

	&__card {
		position: relative;
		display: grid;
		justify-items: center;
		padding: 3em;
		background-color: colors.$dark-color;
		border: 1px solid transparent;
		border-radius: 8px;
		text-align: center;
		transition: border 0.6s, transform 0.3s;
		cursor: pointer;
		z-index: 5;

		&--one,
		&--two,
		&--three,
		&--four,
		&--five,
		&--six {
			&:hover {
				border: 1px solid colors.$special-color;
				transform: scale(1.01);
			}
		}

		&--one {
			grid-row: 1/2;
			grid-column: 1/-1;
		}

		&--two {
			grid-row: 2/3;
			grid-column: 1/-1;
		}

		&--three {
			grid-row: 3/4;
			grid-column: 1/-1;
		}

		&--four {
			grid-row: 4/5;
			grid-column: 1/-1;
		}

		&--five {
			grid-row: 5/6;
			grid-column: 1/-1;
		}

		&--six {
			grid-row: 6/7;
			grid-column: 1/-1;
		}

		&-img {
			font-size: 2.8rem;
			margin-bottom: 0.2em;
		}

		h3 {
			margin-bottom: 0.4em;
			color: colors.$main-color;
			text-transform: uppercase;
		}

		p {
			font-size: 1em;
		}
	}
}

.aboutus-hero-images {
	position: relative;
	padding: 6em 0;
	z-index: 0;
}

.aboutus-hero {
	padding: 2em;
	overflow: hidden;

	&__item {
		padding: 2em;
		margin: 2em auto;
		border-top: 1px solid colors.$main-color;
		border-bottom: 1px solid colors.$main-color;
		border-radius: 8px;
	}

	&__img {
		margin: 1em 0;
		width: 90%;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		border-radius: 8px;
		box-shadow: 3px 3px 10px rgb(77, 77, 77);
	}

	&__title {
		margin: 2em 0;
		font-size: 1.3em;
		border-bottom: 1px solid colors.$special-color;
	}

	&__text {
		font-size: 0.9em;
		margin: 1px;
	}
}

.accordion {
	padding: 3em 2em;

	&__box {
		padding: 15px 20px;
		width: 100%;
		height: 250px;
		background-color: colors.$dark-color;
		color: colors.$white-color;
		border: none;
		border-radius: 8px;
		font-size: 18px;
		text-align: left;
		outline: none;
		cursor: pointer;
		transition: background-color 0.4s linear;

		&-content {
			padding: 0 20px;
			margin: 0 20px 20px;
			max-height: 0;
			background-color: colors.$dark-color;
			border-radius: 0 0 8px 8px;
			overflow: hidden;
			transition: max-height 0.2s ease-in-out;

			p {
				padding: 2em;
			}
		}
	}
	&__box::after {
		content: '\f055';
		font-family: 'fontawesome';
		font-size: 20px;
		float: right;
	}
	&__box.is-open::after {
		content: '\f056';
	}
	&__box:hover,
	&__box.is-open {
		background-color: colors.$darker-special-color;
	}
}

.carousel-item {
	padding: 3em 1em;
}

.carousel {
	&__card {
		position: relative;
		padding: 3em;
		background-color: colors.$dark-color;
		border-radius: 8px;
		text-align: center;

		&-img {
			position: absolute;
			top: 8%;
			left: 75%;
			transform: translate(-50%, -50%);

			img {
				width: 8rem;
				height: 8rem;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		h3 {
			color: colors.$main-color;
		}
	}
}

.achievements {
	background-color: colors.$darker-special-color;

	.achievment-box {
		padding: 1em;
	}
	i {
		padding: 10px;
		font-size: 48px;
		color: colors.$white-color;
		text-shadow: 0 0 5px #000;
	}

	.achievements-list {
		padding: 20px 0;
	}

	.achievement-number {
		font-size: 22px;
	}

	.achievement-text {
		font-size: 13px;
		text-transform: uppercase;
	}
}

.contact {
	position: relative;
	background-image: url('../img/footer-img.jpg');
	background-position: bottom;
	background-size: cover;
	z-index: 0;

	.contact-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: rgba(0, 0, 0, 0.75);
		z-index: -5;
	}

	.contact-us {
		display: flex;
		align-items: center;

		.contact-item {
			margin: 30px 0;

			h3 {
				margin-bottom: 15px;
				color: colors.$main-color;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}
	}
}

.footer {
	padding: 3em;
	background-color: colors.$dark-color;
	text-align: center;

	&__box {
		font-size: 1.4rem;
		margin: 2em 0 1em;

		&-link {
			padding: 1em;
			color: colors.$white-color;
			font-size: 3.6rem;
			text-decoration: none;
			transition: color 0.3s;

			&:hover {
				color: colors.$special-color;
			}
		}
	}
}
